@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 31 48% 100%;
    --foreground: 31 5% 10%;
    --card: 31 48% 100%;
    --card-foreground: 31 5% 15%;
    --popover: 31 48% 100%;
    --popover-foreground: 31 95% 10%;
    --primary: 31 25.3% 52.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 31 100% 91%;
    --secondary-foreground: 0 0% 0%;
    --muted: -7 30% 95%;
    --muted-foreground: 31 5% 40%;
    --accent: 150 16% 56%;
    --accent-foreground: 31 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 31 5% 100%;
    --border: 31 30% 82%;
    --input: 31 30% 50%;
    --ring: 31 25.3% 52.7%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 31 48% 10%;
    --foreground: 31 5% 100%;
    --card: 31 48% 10%;
    --card-foreground: 31 5% 100%;
    --popover: 31 48% 5%;
    --popover-foreground: 31 5% 100%;
    --primary: 31 25.3% 52.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 31 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -7 30% 25%;
    --muted-foreground: 31 5% 65%;
    --accent: -7 30% 25%;
    --accent-foreground: 31 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 31 5% 100%;
    --border: 31 30% 50%;
    --input: 31 30% 50%;
    --ring: 31 25.3% 52.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
